.navbar-bg-color {
  background-color: #181818;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 60px;
  width: 100%;
  position: fixed;
}
.header-logo {
  width: 80px;
  height: 30px;
}
.theme-btn,
.menu-btn,
.logout-btn,
.logout-btn-logo {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.logout-btn {
  color: #ffffff;
  font-weight: bolder;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  margin-left: 5px;
  display: none;
}
.profile-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: none;
}
.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .profile-image {
    margin-right: 10px;
    display: inline;
  }
  .logout-btn {
    display: inline;
  }
  .menu-btn,
  .logout-btn-logo {
    display: none;
  }
}
.log-out-btn {
  border: 1px solid;
  font-family: 'Roboto';
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #231f20;
  color: #ffffff;
  border-color: #ffffff;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .log-out-btn {
    display: none;
  }
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 250px;
  background-color: #cbd5e1;
  border-radius: 10px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .modal-container {
    height: 200px;
    width: 400px;
  }
}
.modal-desc {
  font-family: 'Roboto';
  font-size: 15px;
  margin: 10px;
  color: black;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal-desc {
    font-size: 20px;
  }
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.close-button {
  background-color: transparent;
  border: 1px solid grey;
  padding: 8px;
  padding-right: 12px;
  padding-left: 12px;
  color: grey;
  margin: 12px;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .close-button {
    font-size: 15px;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.confirm-button {
  align-self: flex-end;
  background-color: #3b82f6;
  color: white;
  padding: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border: 1px solid #3b82f6;
  margin: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .confirm-button {
    font-size: 15px;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.logout-icon-button {
  background: none;
  border: none;
}
@media screen and (min-width: 768px) {
  .logout-icon-button {
    display: none;
  }
}
