.list-item {
  background: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 5px;
}
@media screen and (min-width: 768px) {
  .list-item {
    width: 280px;
    margin-right: 20px;
  }
}
.thumb-nail-image {
  width: 100%;
}
.video-details {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 20px;
}
.content-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}
.title-color {
  font-family: Roboto;
  font-size: 15px;
  color: #f9f9f9;
}
.channel-name {
  font-family: Roboto;
  font-size: 13px;
  color: #424242;
  font-weight: 600;
}
.views-and-date {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
  font-weight: 600;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  color: #424242;
  font-weight: 600;
}
